{{#if this.model.songs.isPending}}
  ...
{{else}}
  <Album @info={{this.model}} @songs={{this.model.songs}} />

  {{! Album comments }}
  <div class="mt-5">
    <h5>Comments</h5>

    <ul class="list-group">
      {{#each this.model.comments as |comment|}}
        <AlbumComment @rating={{comment.rating}} @text={{comment.text}} />
      {{/each}}
    </ul>

    <p class="mt-4">
      <label for="album-comment">Add a comment:</label>
      <Input id="album-comment" @type="text" @enter={{this.addComment}} />
    </p>
  </div>
{{/if}}
