{{#if this.model.songs.isPending}}
  <div style="height: 100px" class="w-100 d-flex justify-content-center align-items-center">
    <div id="loading"></div>
  </div>
{{else}}
  <Album @info={{this.model}} @songs={{this.model.songs}} />

  {{! Album comments }}
  {{#unless this.model.comments.isPending}}
    <div class="mt-5">
      <h5>Comments</h5>

      <ul class="list-group list-group-flush mb-3">
        {{#each this.model.comments as |comment|}}
          <li class="list-group-item text-italic">
            <small>{{comment.text}}</small>
          </li>
        {{/each}}
      </ul>

      <div class="input-group mb-3">
        <Input @type="text" @enter={{this.addComment}} class="form-control" placeholder="Add a comment"/>
        {{!-- <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button">Post</button>
        </div> --}}
      </div>
    </div>
  {{/unless}}
{{/if}}
